body {
    font-size: 14px;
}

h4{
    margin-top: 25px;
}

pre code{
    font-size: 13px;
}

.index-container {
    margin-top: 90px;
}

.content-container {
    margin-top: 100px;
}

.demo-pre pre {
    min-height: 300px;
}

.demo-pre pre#resultArea {
    border-color: #4caf50;
}

.demo-pre pre#resultArea.err {
    border-color: #e51c23;
}

menu {
    position: fixed;
    top: 90px;
    background: #fff;
    padding: 25px 20px;
}

.scroll-nav {
    position: fixed;
    background: #fff;
    padding: 25px 20px;
    width: 230px;
}

.scroll-nav__wrapper::after {
    background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 40px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 30px;
    width: 3px;
}

.scroll-nav__heading {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}

.scroll-nav__list {
    list-style: none;
    padding-left: 2px;
}

.scroll-nav__item, .scroll-nav__sub-item {
    color: #999;
}

.scroll-nav__item > a, .scroll-nav__sub-item > a {
    color: #777;
}

.scroll-nav__item.active, .scroll-nav__item.active .scroll-nav__sub-item.active {
    color: #666;
}

.scroll-nav__item.active > a, .scroll-nav__item.active .scroll-nav__sub-item.active > a {
    color: #666;
    font-weight: bold;
}

.scroll-nav__item.active > a::before {
    border-left: 3px solid #666;
    content: "";
    display: block;
    height: 26px;
    left: 0;
    margin-top: -3px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.scroll-nav__item:hover, .scroll-nav__sub-item:hover, .scroll-nav__item > a:hover, .scroll-nav__sub-item > a:hover {
    color: #666;
    text-decoration: none;
}

.scroll-nav__item:focus, .scroll-nav__sub-item:focus, .scroll-nav__item > a:focus, .scroll-nav__sub-item > a:focus {
    color: #666;
    text-decoration: none;
}

.scroll-nav__sub-list {
    list-style-type: square;
}

article pre {
    border: none;
}

.label{
    margin-right: 3px;
    font-weight: normal;
}

:not(pre) > code[class*="language-"], pre[class*="language-"]{
    background: #f5f5f5;
}